@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/meme.png" alt="meme" style="width:100px; height:100px;" />
    <button class="btn btn-info mt-3" onclick="mostrarAlerta()">Mostrar Alerta</button>
</div>

<script>
    function mostrarAlerta() {
        alert("Mi nombre es Pablo Yánez y mi hobbie es el fútbol :).");
    }
</script>
