@model Pablo_Yanez_Examen1.Models.Celular

@{
    ViewData["Title"] = "Editar Celular";
}

<div class="container mt-5">
    <h2 class="text-primary">@ViewData["Title"]</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Modelo" class="control-label"></label>
            <input asp-for="Modelo" class="form-control" />
            <span asp-validation-for="Modelo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Año" class="control-label"></label>
            <input asp-for="Año" class="form-control" />
            <span asp-validation-for="Año" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="control-label"></label>
            <input asp-for="Precio" class="form-control" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PYanezId" class="control-label"></label>
            <select asp-for="PYanezId" class="form-control" asp-items="ViewBag.PYanezId"></select>
            <span asp-validation-for="PYanezId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    </form>
    <a asp-action="Index" class="btn btn-link mt-3">Regresar a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
